<div class="container">
  <div class="uploading" [ngStyle]="{display: isUploading ? 'block' : 'none'}">
    <app-loader></app-loader>
  </div>

  <h1>New post</h1>
  <p class="files-remaining">{{files.length}}/{{filesLimit}} Files</p>
  <div *ngIf="files.length < filesLimit" appFileUpload [files]="files" [limit]="filesLimit - files.length"
       (customMouseOver)="hover = $event"
       [ngClass]="{'file-over': hover}"
       class="drop-zone file-over">
    <div>
      <mat-icon>cloud_upload</mat-icon>
      <p>DROP IMAGES</p>
    </div>
  </div>
  <br>
  <div class="preview-container" *ngIf="files.length">
    <app-file-upload-card *ngFor="let file of files" [uploadFile]="file" [isUploading]="isUploading"
                          (remove)="removeImage($event)"></app-file-upload-card>
  </div>

  <hr>

  <form [formGroup]="newPostForm">

    <mat-form-field style="width: 100%;" color="primary">
      <mat-label>Post title</mat-label>
      <label>
        <input matInput formControlName="title" autocomplete="off" placeholder="My trip to mars"
               style="width: 100%; font-size: 30px;">
      </label>
      <mat-error *ngIf="title.errors && title.errors.required">
        Title is <strong>required.</strong>
      </mat-error>
      <mat-error *ngIf="title.errors && title.errors.maxlength">
        Title is too <strong>long.</strong>
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field style="width: 100%;" color="primary">
      <mat-label>Caption</mat-label>
      <label>
    <textarea matInput formControlName="caption" autocomplete="off" placeholder="I forgot the oxygen..."
              cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2"
              style="width: 100%; font-size: 20px;"></textarea>
      </label>
      <mat-hint align="end">
          <span
            [ngStyle]="{'color': caption.value.length > '200' ? 'red' : caption.value.length > 180 ? 'orange' : 'green' }"
            *ngIf="caption.value; else zero">
            {{caption.value.length}}
          </span>
        <ng-template #zero>0</ng-template>
        / 200
      </mat-hint>
      <mat-error *ngIf="caption.errors && caption.errors.maxlength">
        Caption is too <strong>long.</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <br>
  <div class="container">
    <span>{{address}}</span>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
    <div class="form-group">
      <mat-form-field style="width: 40%; float: right" color="primary">
        <label>
          <input matInput type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                 placeholder="Search a location" autocorrect="off" autocapitalize="off" spellcheck="off"
                 type="text" #search>
        </label>
      </mat-form-field>
    </div>
  </div>
  <!--  <mat-progress-bar mode="indeterminate" *ngIf="isUploading"
                      [value]="totalUploadProgress()" color="primary"></mat-progress-bar>-->
  <div mat-dialog-actions>
    <button mat-button color="warn" [disabled]="isUploading" (click)="dialogRef.close()">Cancel</button>
    <button mat-flat-button color="primary" (click)="post()" cdkFocusInitial
            [disabled]="!newPostForm.valid || !files.length || isUploading || !placeId">
      Post
    </button>
  </div>
</div>

