<mat-toolbar>
  <button mat-button [routerLink]="'home'" routerLinkActive="active">
    <span>Home</span>
  </button>
  <button mat-button *ngIf="this.authService.isLoggedIn && userData !== null" routerLinkActive="active"
          [routerLink]="onProfileButtonClick">
    <span>Profile</span>
  </button>

  <span class="spacer"></span>
  <button *ngIf="this.authService.isLoggedIn; else showLoginButton" (click)="onLogout()" mat-button>
    <mat-icon>power_settings_new</mat-icon>
    Logout
  </button>
  <ng-template #showLoginButton>
    <button mat-button [routerLink]="onLoginButtonClick" routerLinkActive="active">
      <span>Log in</span>
    </button>
    <button mat-button [routerLink]="onSignUpButtonClick" routerLinkActive="active">
      <span>Sign up</span>
    </button>
  </ng-template>
</mat-toolbar>
