<mat-toolbar>
  <button mat-button [routerLink]="['/', m.key]" *ngFor="let m of menus;"
          routerLinkActive="active">{{m.name}}</button>
  <span class="spacer"></span>
  <button *ngIf="authService.isLoggedIn; else showLoginButton" (click)="onLogout()" mat-icon-button>
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <ng-template #showLoginButton>
    <button mat-icon-button [routerLink]="onLoginButtonClick">
      <mat-icon>person</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
