<h1>New text post</h1>
<div class="row">
  <h3>Title:</h3>
  <mat-form-field color="accent">
    <input matInput placeholder="Insert your new post title">
  </mat-form-field>
  <h3>Content:</h3>
  <mat-form-field color="accent">
  <textarea matInput cdkTextareaAutosize
            cdkAutosizeMinRows="7"
            cdkAutosizeMaxRows="7"
            placeholder="What do you want to write..."></textarea>
  </mat-form-field>
  <span><mat-icon>public</mat-icon>This post will be visible to everyone.</span>
