@import "../../../style/variables";
@import "../../../style/global";

mat-form-field {
  width: 100%;
}
mat-icon {
  transform: scale(0.7);
}
span {
  font-size: 0.6em;
  margin-top: 50px;
  color: $lightGray;
}
