<div class="container">
  <table>
    <tr>
      <th>
        <label>
          <input placeholder="search user" autocomplete="off" [(ngModel)]="searchUser">
        </label>
      </th>
      <th>LOCATION</th>
      <th>FOLLOWERS</th>
      <th>FOLLOWING</th>
      <th>POSTS</th>
      <th>MORE</th>
    </tr>
    <tr *ngFor=" let user of users; let i = index">
      <ng-template [ngIf]="searchUsers(user)">
        <td>
          <div class="user-simple-card">
            <img [src]="user.accountInfo.imageUrl" alt="profile picture">
            <span>
            <h3>{{user.personalInfo.name}} {{user.personalInfo.lastName}}</h3>
            <p>@{{user.accountInfo.userName}}</p>
          </span>
          </div>
        </td>
        <td>{{country[i]}}</td>
        <td>{{user.followers.length}}</td>
        <td>{{user.following.length}}</td>
        <td>{{user.posts}}</td>
        <td>
          <button mat-flat-button color="primary" [routerLink]="'/u/' + user.accountInfo.userName">Profile</button>
        </td>
      </ng-template>
    </tr>
  </table>
</div>
