@import "../../../style/variables";
@import "../../../style/global";

div.container {

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      border-top: 1px solid #292929;
      border-bottom: 1px solid #292929;
    }

    th {
      padding: 10px 30px;
      text-align: left;
      font-weight: 200;
      font-variant: small-caps;
      background-color: #292929;
      color: #9c9c9c;

      input {
        border: none;
        border-bottom: 1px solid $lightGray;
        font-variant: none;
        background-color: transparent;
        font-size: 1em;
        color: white;
        transition: 0.5s;

        &:focus {
          border-bottom: 1px solid $primary;
        }
      }
    }

    td {
      padding: 10px 30px;
    }
  }
}

//::ng-deep .mat-form-field-infix {
//  font-variant: none;
//  border: 0 !important;
//}
