<div class="container">
  <mat-form-field class="example-full-width" color="accent" style="width: 100%">
    <label>
      <input matInput placeholder="Search a user" [(ngModel)]="searchUser" style="width: 100%; font-size: 40px;">
    </label>
  </mat-form-field>
  <br>
  <table>
    <tr>
      <th>USER</th>
      <th>LOCATION</th>
      <th>FOLLOWERS</th>
      <th>FOLLOWING</th>
      <th>POSTS</th>
      <th>MORE</th>
    </tr>
    <tr *ngFor=" let user of users">
      <ng-template [ngIf]="user.accountInfo.userName !== null && searchUsers(user)">
        <td>
          <div class="user-simple-card">
            <img [src]="user.accountInfo.imageUrl" alt="profile picture">
            <span>
            <h3>{{user.accountInfo.userName}}</h3>
            <p>@{{user.personalInfo.name}}</p>
          </span>
          </div>
        </td>
        <td>{{user.accountInfo.country}}</td>
        <td>{{user.followers.length}}</td>
        <td>{{user.following.length}}</td>
        <td>{{user.posts}}</td>
        <td>
          <button mat-stroked-button color="accent" [routerLink]="'/u/' + user.accountInfo.userName">Profile</button>
        </td>
      </ng-template>
      </tr>
      </table>
</div>
