@import "../../style/variables";
@import "../../style/global";

div.container {
  display: flex;
  justify-content: space-evenly;
}

/*button.scroll-top-button {
  transition: 1s;
  background-color: $accent;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px 0;
}*/

// Responsive
@media only screen and (max-width: 1000px) {

  div.container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;

    div.posts-container {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      div.post {
        width: 100%;
      }
    }
  }

}
