@import "../../style/variables";

div.outer {
  /*margin: 3% 5%;*/
  color: $darkGray;

  div.header {
    margin: auto;
    text-align: center;
    color: white;

    div {
      padding: 3% 5% 1%;
    }

    img {
      width: 100px;
      height: auto;
      border-radius: 50%;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
    }

    h1 {
      margin: 20px;
      font-size: 1.8em;
      font-weight: normal;
    }
  }

  div.suggestion {
    text-align: center;
    margin: 50px auto;
    padding: 0;

    img {
      width: 100px;
      height: auto;
    }
  }

}
