<div class="user-card-container">
  <img class="profile-image" [src]="userData.accountInfo.imageUrl">
  <div class="content">
    <table>
      <tr style="cursor: pointer;" (click)="appComponent.seeFollowers(userData)">
        <th>{{userData.followers.length}}</th>
        <th>{{userData.following.length}}</th>
        <th>{{userData.posts}}</th>
      </tr>
      <tr>
        <td>followers</td>
        <td>following</td>
        <td>posts</td>
      </tr>
    </table>
    <h3>{{userData.personalInfo.name}} {{userData.personalInfo.lastName}}</h3>
    <div class="basicInfo">
    <span><mat-icon>location_on</mat-icon>
      {{userData.accountInfo.country}}</span>
      <span><mat-icon>date_range</mat-icon>
        {{userData.accountInfo.registrationDate | date:'dd/MM/yyyy'}}</span>
    </div>
    <div class="social-div">
      <a [href]="userData.accountInfo.socialLinks.facebook" target="_blank" rel="noopener">
        <img matTooltip="Facebook"
             src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-128.png">
      </a>
      <a [href]="userData.accountInfo.socialLinks.github" target="_blank" rel="noopener">
        <img matTooltip="Github"
             src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png">
      </a>
      <a [href]="userData.accountInfo.socialLinks.linkedin" target="_blank" rel="noopener">
        <img matTooltip="Linkedin"
             src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-128.png">
      </a>
      <a [href]="userData.accountInfo.socialLinks.twitter" target="_blank" rel="noopener">
        <img matTooltip="Twitter"
             src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/twitter-512.png">
      </a>
      <a [href]="userData.accountInfo.socialLinks.instagram" target="_blank" rel="noopener">
        <img matTooltip="Instagram"
             src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-128.png">
      </a>
      <a [href]="userData.accountInfo.socialLinks.youtube" target="_blank" rel="noopener">
        <img matTooltip="Youtube"
             src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-128.png">
      </a>
      <br>
    </div>
    <p class="bio">{{userData.accountInfo.bio}}</p>
  </div>

    <button mat-flat-button color="primary"
            *ngIf="!authService.isLoggedIn || !isUserProfile && !isFollowing()" [disabled]="loading"
            (click)="toggleFollow('0')">
      FOLLOW
    </button>
    <button mat-flat-button color="primary" *ngIf="authService.isLoggedIn && !isUserProfile && isFollowing()"
            (click)="toggleFollow('1')" [disabled]="loading">
      UNFOLLOW
    </button>
    <button mat-flat-button color="primary"
            *ngIf="authService.isLoggedIn &&!loading && isUserProfile" (click)="appComponent.editProfile()">
      EDIT PROFILE
    </button>
    <!--<button mat-flat-button color="primary" *ngIf="loading">
      <mat-spinner color="accent" diameter="30"></mat-spinner>
    </button>-->
</div>
