@import "../../../style/variables";
@import "../../../style/global";

div.user-card-container {
  background-color: $medGray;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: $material-shadow;

  img.profile-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: block;
    margin: 20px auto;
  }

  div.content {

    table {
      margin: auto;
      width: 90%;
      text-align: center;

      th {
        width: 90px;
        font-size: 1.5em;
      }

      td {
        width: 90px;
        font-variant: small-caps;
        color: $lightGray;
      }
    }

    h3 {
      padding: 0;
      margin: 35px 0 10px;
      text-align: center;
      font-weight: 600;
      font-size: 1.5em;

      span {
        font-weight: normal;
        //color: $lightGray;
      }
    }

    div.basicInfo {
      margin: auto;
      width: 70%;
      display: flex;
      justify-content: space-evenly;

      mat-icon {
        vertical-align: sub;
      }
    }

    div.social-div {
      width: 90%;
      margin: 10px auto;
      display: flex;
      justify-content: space-evenly;

      img {
        width: 35px;
        height: 35px;
        margin: 7px;
        transition: 0.2s;

        &:hover {
          //transform: scale(1.2);
          transform: translateY(-2px);
        }
      }
    }

    p.bio {
      text-align: center;
      font-weight: 200;
      padding: 5px 20px 0;
      line-height: 1.8;
      font-size: 1.1em;
      margin-bottom: 0;
    }
  }

  button {
    margin: 10px auto;
    display: block;
    //padding: 0 60px;
  }
}
