@import "../../../style/variables";
@import "../../../style/global";

div.user-card-container {
  background-color: $medGray;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: $material-shadow;

  img.profile-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
    transform: translateY(-50%);
    border: 8px solid $darkGray;
    transition: 0.2s;

    &:hover {
      transform: translateY(-55%);
    }
  }

  div.content {
    margin-top: -70px;


    table {
      margin: auto;
      width: 90%;
      text-align: center;

      th {
        width: 90px;
        font-size: 1.5em;
      }

      td {
        width: 90px;
        font-variant: small-caps;
        color: $lightGray;
      }
    }

    h3 {
      padding: 0;
      margin: 35px 0 10px;
      text-align: center;
      font-weight: 600;
      font-size: 1.5em;

      span {
        font-weight: normal;
        //color: $lightGray;
      }
    }

    div.basicInfo {
      margin: auto;
      width: 70%;
      display: flex;
      justify-content: space-evenly;

      mat-icon {
        vertical-align: sub;
      }
    }

    div.social-div {
      width: 90%;
      margin: 10px auto;
      display: flex;
      justify-content: space-evenly;

      img {
        width: 35px;
        height: 35px;
        margin: 7px;
        transition: 0.2s;

        &:hover {
          //transform: scale(1.2);
          transform: translateY(-2px);
        }
      }
    }

    hr.hr {
      margin: 0 20px;
      border: 1px solid $lightGray;
    }

    p.bio {
      text-align: center;
      padding: 5px 20px 0;
      line-height: 1.8;
      font-size: 1.1em;
      margin-bottom: 0;
    }
  }

  button {
    border-radius: 40px;
    display: block;
    margin: auto;
    padding: 10px 40px;
    transform: translateY(50%);
    border: 8px solid $darkGray;
    transition: 0.2s;
    font-size: 1em;
    letter-spacing: 3px;
    background-color: $primary;
    color: white;
    cursor: pointer;

    &:hover {
      transform: translateY(50%) scale(0.98);
    }
  }
}
