<!--suppress AngularUndefinedBinding -->
<ng-container *ngIf="this.authService.isLoggedIn !== null">
  <!--  AUTH STATUS KNOWN -->
  <mat-sidenav-container *ngIf="!this.authService.isLoggedIn ||
    this.authService.isLoggedIn && authService.isSetUp !== null && userData !== null" autosize>
    <mat-sidenav [opened]="sideNavStatus" *ngIf="this.authService.isLoggedIn && this.authService.isSetUp"
                 [mode]="mobileQuery.matches ? 'over' : 'side'" (closed)="sideNavStatus = false">
      <!-- LOGGED IN AND SET UP-->
      <img src="/assets/images/yourpageLogo.png" class="logo"/>
      <hr>
      <h3 class="category">NAVIGATION</h3>
      <div class="nav-button" *ngFor="let link of navigationLinks" [routerLink]="link.componentName"
           routerLinkActive="active">
        <div (click)="mobileQuery.matches ? sideNavStatus = false : null">
          <mat-icon [ngStyle]="{color: link.iconColor}">{{link.matIcon}}</mat-icon>
          <span>{{link.text}}</span>
        </div>
      </div>
      <hr>
      <h3 class="category">ACTIONS</h3>
      <ng-container *ngFor="let action of actions">
        <div class="nav-button" *ngIf="mobileQuery.matches && !action.hideResponsive || !mobileQuery.matches"
             (click)="this[action.action]()">
          <div (click)="mobileQuery.matches ? sideNavStatus = false : null">
            <mat-icon [ngStyle]="{color: action.iconColor}">{{action.matIcon}}</mat-icon>
            <span>{{action.text}}</span>
          </div>
        </div>
      </ng-container>
      <hr>
      <h3 class="category">ACCOUNT</h3>
      <app-image [image]="userData.accountInfo.imageUrl" [smallSpinner]="true" [class]="'side-bar-profile-picture'"></app-image>
      <h3 class="username">@{{userData.accountInfo.userName}}</h3>
      <table>
        <tr style="cursor: pointer" (click)="seeFollowers(userData)">
          <th>{{userData.followers.length}}</th>
          <th>{{userData.following.length}}</th>
          <th>{{userData.posts}}</th>
        </tr>
        <tr>
          <td>followers</td>
          <td>following</td>
          <td>posts</td>
        </tr>
      </table>
    </mat-sidenav>
    <!-- NOT LOGGED IN -->
    <mat-sidenav mode="side" opened *ngIf="!this.authService.isLoggedIn" [opened]="sideNavStatus"
                 [mode]="mobileQuery.matches ? 'over' : 'side'" (closed)="sideNavStatus = false">
      <img src="/assets/images/yourpageLogo.png" class="logo"/>
      <hr>
      <h3 class="category">NAVIGATION</h3>
      <div class="nav-button" *ngFor="let link of navigationLinksNotLoggedIn" [routerLink]="link.componentName"
           routerLinkActive="active">
        <div>
          <mat-icon [ngStyle]="{color: link.iconColor}">{{link.matIcon}}</mat-icon>
          <span>{{link.text}}</span>
        </div>
      </div>
    </mat-sidenav>


    <!-- CONTENT -->
    <mat-sidenav-content>
      <app-navbar
        *ngIf="this.authService.isLoggedIn && authService.isSetUp || !this.authService.isLoggedIn"></app-navbar>
      <div class="swipe-area" *ngIf="!sideNavStatus" (swiperight)="sideNavStatus = true"></div>
      <main [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- LOADER WHILE GETTING AUTH STATUS-->
<app-loader *ngIf="this.authService.isLoggedIn === null ||
  this.authService.isLoggedIn && (authService.isSetUp === null || userData === null)"></app-loader>

<notifier-container></notifier-container>

