<ng-container *ngIf="this.authService.isLoggedIn !== null">
  <app-navbar *ngIf="authService.isSetUp || authService.isSetUp === null && !authService.isLoggedIn"></app-navbar>

  <!--  LOGGED IN -->
  <mat-drawer-container
    *ngIf="this.authService.isLoggedIn && authService.isSetUp !== null && userData !== null">
    <mat-drawer #drawer mode="side" opened *ngIf="this.authService.isSetUp">
      <img src="../assets/images/kleanLogo.png" height="61" width="220"/>
      <div class="side-nav-container" *ngIf="userData !== null; else loader;">
        <img [src]="userData.accountInfo.imageUrl">
        <h1>{{userData.personalInfo.name}} {{userData.personalInfo.lastName}}</h1>
      </div>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </mat-drawer>
    <mat-drawer-content>
      <main [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </main>
      <button mat-fab (click)="openNewPostSelector()" color="accent" *ngIf="authService.isSetUp">
        <mat-icon>add</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>


  <!--  NOT LOGGED IN -->
  <ng-container *ngIf="!this.authService.isLoggedIn">
    <main [@fadeAnimation]="getRouterOutletState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </ng-container>
</ng-container>

<app-loader *ngIf="this.authService.isLoggedIn === null ||
  this.authService.isLoggedIn && (authService.isSetUp === null || userData === null)"></app-loader>

<notifier-container></notifier-container>
