<mat-toolbar>
  <button mat-icon-button (click)="appComponent.sideNavStatus = !appComponent.sideNavStatus">
    <mat-icon>{{appComponent.sideNavStatus ? 'close' : 'menu'}}</mat-icon>
  </button>
  <div *ngIf="this.authService.isLoggedIn" class="card" [routerLink]="'/profile'">
    <app-image [image]="userData.accountInfo.imageUrl"
               [class]="'small-profile-picture'" [smallSpinner]="true"></app-image>
    <span>{{userData.personalInfo.name}}
      {{userData.personalInfo.lastName}}</span>
  </div>

  <div *ngIf="!this.authService.isLoggedIn" class="card" [routerLink]="'/authenticate'">
<!--    <img src="/assets/images/yourpageIcon.png" class="small-profile-picture">-->
    <mat-icon>fingerprint</mat-icon>
    <span>Login / Register</span>
  </div>
</mat-toolbar>
