<mat-toolbar>
  <span class="spacer"></span>
  <div class="card" [matMenuTriggerFor]="menu">
    <app-image [image]="userData.accountInfo.imageUrl"
               [class]="'small-profile-picture'"></app-image>
    <span>{{userData.personalInfo.name}}
      {{userData.personalInfo.lastName}}</span>
  </div>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon style="color: #D51B1B">power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>


