@import "../../../style/variables";

mat-toolbar {
  height: 80px;
  background-color: $darkGray;

  .spacer {
    flex: 1 1 auto;
  }

  div.card {
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;

    span {
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 30px;
      color: $lightGray;

      &:hover {
        color: white;
      }
    }
  }

}

