@import "../../../style/variables";
@import "../../../style/global";

mat-toolbar {
  height: 80px;
  background-color: $darkGray;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

  div.card {
    cursor: pointer;
    display: flex;
    align-items: center;

    mat-icon {
      vertical-align: middle;
      color: green;
    }

    span {
      vertical-align: middle;
      margin-left: 10px;
      color: $lightGray;

      &:hover {
        color: white;
      }
    }
  }

}

@media only screen and (max-width: 1000px) {

  mat-toolbar {
    padding: 0 20px;
  }

}

