@import "../../../style/variables";
@import "../../../style/global";
div.outter {
  background-color: #303030;
  width: 100%;
  min-height: 100%;
}
mat-card {
  margin: 0;
  //background-color: mat-color($my-custom-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

