<img class="radius" *ngIf="userData.accountInfo.imageUrl; else noPicture" [src]="userData.accountInfo.imageUrl">
<ng-template #noPicture>
  <img class="radius" src="https://i.stack.imgur.com/ZQT8Z.png">
</ng-template>
<h3>Select files</h3>
<div *ngIf="!files.length" appFileUpload [files]="files" [limit]="1" (customMouseOver)="hover = $event"
     [ngClass]="{'file-over': hover}"
     class="well drop-zone file-over">
</div>

<h4>Load files</h4>
<button mat-raised-button color="accent" (click)="updateProfileImage()" [disabled]="files.length === 0">Upload
</button>
<button mat-raised-button color="warn" (click)="emptyFiles()">empty</button>

<table class="table">
  <thead class="thead=dark">
  <tr>
    <th>File name</th>
    <th>Size</th>
    <th>Progress</th>
    <th>Progress num</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td><img [src]="file.previewUrl" style="width: 50px; margin-right: 5px;"></td>
    <td>{{file.fileName}}</td>
    <td>
      <mat-progress-bar mode="determinate" [value]="file.progress" color="accent"></mat-progress-bar>
    </td>
    <td>
      {{file.progress}}
    </td>
  </tr>
  </tbody>
</table>
<mat-progress-bar mode="indeterminate" color="accent" *ngIf="uploading"></mat-progress-bar>
<div mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]>Close</button>
</div>
<!--TODO input type file-->
