<img class="radius" *ngIf="userData.accountInfo.imageUrl; else noPicture" [src]="userData.accountInfo.imageUrl">
<ng-template #noPicture>
  <img class="radius" src="https://i.stack.imgur.com/ZQT8Z.png">
</ng-template>
<h3>Select files</h3>
<div *ngIf="!files.length" appFileUpload [files]="files" [limit]="1" (customMouseOver)="hover = $event"
     [ngClass]="{'file-over': hover}"
     class="well drop-zone file-over">
</div>

<div class="col-md-8">
  <h4>Load files</h4>
  <button mat-raised-button color="accent" (click)="updateProfileImage()" [disabled]="files.length === 0">Upload
  </button>
  <button mat-raised-button color="warn" (click)="emptyFiles()">empty</button>

  <table class="table">
    <thead class="thead=dark">
    <tr>
      <th>File name</th>
      <th>Size</th>
      <th>Progress</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of files">
      <td>{{file.fileName}}</td>
      <td>{{file.file.size / 1024 / 1024 | number: '.2-2'}} MB</td>
      <td>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': file.progress + '%'}"></div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" cdkFocusInitial [mat-dialog-close]>Close</button>
</div>
<!--TODO input type file-->
