@import "../../style/variables";
@import "../../style/global";

div.outer {
  display: flex;

  div.profile-content {
    flex: 2;
    background-color: $medGray;
    border-radius: 14px;
    box-shadow: $material-shadow;
    margin: 20px;
    padding: 30px;

  }

  div.right-column {
    margin: 20px;
    flex: 1;

    app-user-card {
    }

    agm-map {
      height: 300px;
      width: 100%;

      button {
        transform: scale(0.9);
        margin-right: 5px;
      }

      .agm-info-window {
        max-width: 200px;
        background-color: $medGray;
      }
    }
  }

}
