<div class="outter" *ngIf="userData !== null; else loader">
  <div class="header">

    <div class="float-left">
      <img [src]="userData.accountInfo.imageUrl">
      <br>
      <p>@{{userData.accountInfo.userName}}</p>
      <div class="social-div">
        <a [href]="userData.accountInfo.socialLinks.facebook" target="_blank">
          <img matTooltip="Facebook"
               src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-128.png">
        </a>
        <a [href]="userData.accountInfo.socialLinks.linkedin" target="_blank">
          <img matTooltip="Linkedin"
               src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-128.png">
        </a>
        <a [href]="userData.accountInfo.socialLinks.github" target="_blank">
          <img matTooltip="Github"
               src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-128.png">
        </a>
        <a [href]="userData.accountInfo.socialLinks.twitter" target="_blank">
          <img matTooltip="Twitter"
               src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-128.png">
        </a>
        <a [href]="userData.accountInfo.socialLinks.instagram" target="_blank">
          <img matTooltip="Instagram"
               src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-128.png">
        </a>
        <a [href]="userData.accountInfo.socialLinks.youtube" target="_blank">
          <img matTooltip="Youtube"
               src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-128.png">
        </a>
        <br>
      </div>
    </div>
    <div class="float-right">
      <div class="right-content">
        <h1>{{userData.personalInfo.name + ' ' + userData.personalInfo.lastName|uppercase}}</h1>
        <button mat-raised-button *ngIf="!isUserProfile; else editButton" color="accent">Follow</button>
        <ng-template #editButton>
          <button mat-stroked-button color="accent" (click)="editProfile()">Edit profile</button>
        </ng-template>
        <div class="description">
          <p>{{userData.accountInfo.bio}}</p>
        </div>
        <div class="additional-info">
          <div>
            <mat-icon>location_on</mat-icon>
            <span>{{userData.accountInfo.country}}</span>
          </div>
          <div>
            <mat-icon>cake</mat-icon>
            <span>{{userData.accountInfo.registrationDate.seconds * 1000| date:'dd/MM/yyyy'}}</span>
          </div>
          <div>
            <mat-icon>person</mat-icon>
            <span>{{userData.personalInfo.gender}}</span>
          </div>
          <div>
            <mat-icon>accessibility</mat-icon>
            <span>{{userData.personalInfo.gender}}</span>
          </div>
        </div>
        <hr class="hr">
        <div class="statistics">
          <span><b>{{userData.statisticsInfo.followers}}</b> followers</span>
          <span><b>{{userData.statisticsInfo.following}}</b> following</span>
          <span><b>{{userData.statisticsInfo.posts}}</b> posts</span>
        </div>
      </div>
    </div>
  </div>


  <br>
  <p>Content</p>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
