<div class="outter" *ngIf="userData !== null">
  <div class="header">
    <div>
      <img [src]="userData.accountInfo.imageUrl">
      <h1 *ngIf="!isSetUp; else setup">
        Welcome, {{authService.userData.personalInfo.displayName}}</h1>
      <ng-template #setup><h1>Welcome, {{userData.personalInfo.name}} {{userData.personalInfo.lastName}}</h1></ng-template>
    </div>
  </div>

  <br>

  <div class="suggestion"> <!--*ngIf="!userData.personalInfo.setUp"-->
    <img src="../../../assets/images/suggestion.png">
    <h2>You need to set up your profile.</h2>
    <button mat-raised-button (click)="editProfile()" color="accent">Start</button>
  </div>
</div>

