@import "../../style/variables";

div.outter {
  /*margin: 3% 5%;*/
  color: $darkGray;

  div.header {
    margin: auto;
    text-align: center;
    background-color: mat-color($primary);

    div {
      padding: 3% 5%;
      color: $lightGray;
    }

    img {
      width: 120px;
      height: auto;
      border-radius: 50%;
    }

    h1 {
      margin: 10px;
    }
  }

  div.suggestion {
    text-align: center;
    margin: 10% auto 0;

    img {
      width: 100px;
      height: auto;
    }
  }

}
