@import "../../style/variables";
@import "../../style/global";

div.users-container {
  background-color: $medGray;
  border-radius: 5px;
  box-shadow: $material-shadow;
  padding-bottom: 5px;
  overflow: scroll;
  margin: 0 20px;
}
