@import "./variables";

// INPUT FIX
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

app-loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

app-image {
  margin: auto;
  display: block;
}


// Material
mat-icon {
  vertical-align: middle;
}

button.icon-button {
  line-height: 0;
}

/* Drop Zone */
.drop-zone {
  border: dashed 2px #27a100;
  background-color: #2B6A25;
  opacity: 0.2;
  color: #666;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;

  div {
    mat-icon {
      width: 48px;
      height: 48px;
      color: white;
      font-size: 48px;
      transition: 0.2s;
    }

    p {
      color: white;
      margin: 0;
    }
  }
}

.file-over {
  opacity: 0.6;

  div {
    mat-icon {
      transform: scale(1.2);
    }
  }
}

.table {
  margin-top: 30px;
}

.progress-bar {
  background-color: green;
  height: 10px;
  width: 1px;
  border: 1px solid green;
}

.text-green {
  color: green
}

// Social buttons
button.social-button {
  min-width: 30px;
  line-height: 0;
  padding: 0 !important;
  border-radius: 50%;

  img {
    width: 30px;
  }
}


/* IMAGES */
.side-bar-profile-picture {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.small-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.post-img {
  height: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* USER SIMPLE CARD */
div.user-simple-card {

  img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  span {
    display: inline-block;
    vertical-align: middle;

    h3 {
      margin: 0;
      font-weight: normal;
    }

    p {
      margin: 0;
      font-weight: 200;
      opacity: 0.5;
      transition: 1s;
      //cursor: pointer;
    }
  }
}

/* POST CARD */
div.post {
  background-color: $medGray;
  //display: table;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 800px;
  border-radius: 5px;
  margin-bottom: 50px;
  border: 1px solid transparent;
}

div.user { // show action button
  margin: 10px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

// Responsive
@media only screen and (max-width: 1000px) {

  .post-img {
    height: 240px;
    box-shadow: none;
  }

  div.user-simple-card {

    h3 {
      font-size: 1em;
    }
  }
}
