@import '../../../node_modules/@angular/material/theming';
// own
$darkGray: #202124;
$medGray: #343434;
$lightGray: #707070;
$white: #FFF;

$primary: map-get($mat-gray, 900);
$accent: map-get($mat-purple, 700);


$gradient: linear-gradient(90deg, rgba(33,182,168,1) 0%, rgba(17,101,48,1) 100%);
$material-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
