@import '../../../node_modules/@angular/material/theming';
// own
$gradient: red;
$darkGray: #202124;
$lightGray: #5f6368;
$white: white;

$primary: map-get($mat-gray, 900);
$accent: map-get($mat-purple, 800);
