<h1>Edit profile</h1>
<h3>Biography</h3>
<form [formGroup]="newData">
  <mat-form-field class="text-area" color="accent">
  <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" type="text" formControlName="bio"
            placeholder="Write something about yourself">
  </textarea>
    <mat-hint align="start">
      <mat-icon>lightbulb_outline</mat-icon>
      Where are you from, what do you like...
    </mat-hint>
    <mat-hint align="end"
              [ngStyle]="{'color': bio.value.length >= 200 ? 'red' : bio.value.length > 180 ? 'orange' : 'green' }">
      {{bio.value.length}}/ 200
    </mat-hint>
    <mat-error *ngIf="bio.errors && bio.errors.maxlength">
      The biography can't be longer than <strong>200 characters.</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <h3>Social links</h3>
  <div class="social-div">
    <mat-form-field color="accent">
      <input matInput type="text" placeholder="Facebook profile" formControlName="facebook">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="facebook" (click)="facebook.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="facebook.errors && facebook.errors.pattern">Enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="text" placeholder="Github profile" formControlName="github">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="github" (click)="github.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="github.errors && github.errors.pattern">Enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="text" placeholder="Twitter profile" formControlName="twitter">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="twitter" (click)="twitter.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="twitter.errors && twitter.errors.pattern">Enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="text" placeholder="Youtube profile" formControlName="youtube">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="youtube" (click)="youtube.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="youtube.errors && youtube.errors.pattern">Enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="text" placeholder="Linkedin profile" formControlName="linkedin">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="linkedin" (click)="linkedin.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="linkedin.errors && linkedin.errors.pattern">Enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput type="text" placeholder="Instagram profile" formControlName="instagram">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="instagram" (click)="instagram.reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="instagram.errors && instagram.errors.pattern">Enter a valid URL</mat-error>
    </mat-form-field>

  </div>
</form>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-button color="accent" [disabled]="!this.newData.valid" (click)="saveData()"
          [mat-dialog-close]="userData.accountInfo.bio" cdkFocusInitial>
    Save
  </button>
</div>

