@import "../../../style/variables";
@import "../../../style/global";

mat-form-field {
  width: 49%;
  margin: 5px 0;
}

.text-area {
  width: 100%;
}

div.social-div mat-form-field:nth-child(even) {
  float: right;
}

h3 {
  margin: 5px 0;
}

div.app-file {
  display: flex;
  justify-content: center;
}
