@import "../../../style/variables";


mat-form-field {
  width: 49%;
  margin: 5px 0;
}

.text-area {
  width: 100%;
}

div.social-div mat-form-field:nth-child(even) {
  float: right;
}

h3 {
  margin: 5px 0;
}

img {
  height: auto;
  width: 50px;
}
